body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

main {
  float: left;
  width: 100%;
  height: calc(100dvh - 120px);
}

a {
  text-decoration: none;
  color: white;
}

::selection {
  color: white;
  background: #3498db88;
}

/* Header */
header {
  margin: 0 1%;

  > h1 {
    margin: 0;
    float: left;
    background: #c35;
    text-transform: uppercase;
    color: #fff;
    padding: 20px;
    font-family: Arial;
    font-size: 24px;
    line-height: 20px;
    font-weight: 800;
    letter-spacing: 2px;

    &.main {
      background: #349;
    }
  }
}

/* Counters */
.scores {
  margin-top: 1%;
  position: absolute;
  display: grid;
  right: 1%;
  text-align: right;
}

.count {
  font-size: 50px;
  color: #999;
  margin-right: 10%;
}

/* Options */
.kana-container {
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  user-select: none;
}

#kana-character {
  font-size: 16em;
  font-weight: 700;
}

#options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.option {
  margin: 10px;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.option:hover {
  background-color: #3498db;
  color: white;
}

.incorrect {
  background-color: #c35;
  color: white;
}

/* Checkboxes */
.checkboxes {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 20px;
  background-color: #222;
  display: grid;
  gap: 10px;

  > div {
    color: #ddd;
  }
}
