.kana-display {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	user-select: none;
}

.kana-display__character {
	font-weight: 700;
	font-size: min(16em, 48vw);
}

.kana-display__options {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.kana-display__option {
	transition: all 300ms;
	cursor: pointer;
	border: 1px solid light-dark(#ccc, #333);
	border-radius: 5px;
	background-color: light-dark(#eee, #111);
	padding: 10px 20px;
	font-size: 1.5em;

	&:hover {
		background-color: #3498db;
		color: #fff;
	}

	&.incorrect {
		background-color: #c35;
		color: #fff;
	}
}
