.option-menu {
	display: flex;
	position: absolute;
	top: 50%;
	right: 0;
	flex-direction: column;
	gap: 10px;
	transform: translateY(-50%);
	background-color: #222;
	padding: 10px;
	color: #ffd43b;
}

.option-menu--arrow {
	cursor: pointer;
}

.option-menu--hidden {
	display: none;
}
