body {
	color: #333;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

::selection {
	color: #fff;
	background: #3498db88;
}

.main-content {
	float: left;
	width: 100%;
	height: calc(100dvh - 120px);
}

/* Header */
.header {
	margin: 0 1%;
}

.header__title {
	float: left;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 2px;
	background: #349;
	margin: 0;
	padding: 20px;
	font-size: 24px;
	font-weight: 800;
	line-height: 20px;

	&.main {
		background: #c35;
	}
}

.header__link {
	color: #fff;
	text-decoration: none;
}

/* Counters */
.scoreboard {
	text-align: right;
	margin-top: 1%;
	display: grid;
	position: absolute;
	right: 1%;
}

.scoreboard__count {
	color: #999;
	margin-right: 10%;
	font-size: 50px;
}

/* Options */
.kana-display {
	-webkit-user-select: none;
	user-select: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 120px);
	display: flex;
}

.kana-display__character {
	font-size: min(16em, 48vw);
	font-weight: 700;
}

.kana-display__options {
	flex-wrap: wrap;
	justify-content: center;
	display: flex;
}

.kana-display__option {
	cursor: pointer;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 10px;
	padding: 10px 20px;
	font-size: 24px;
	transition: all 0.3s;

	&:hover {
		color: #fff;
		background-color: #3498db;
	}

	&.incorrect {
		color: #fff;
		background-color: #c35;
	}
}

/* Option menu */
.option-menu {
	color: #ffd43b;
	background-color: #222;
	gap: 10px;
	padding: 10px;
	display: grid;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);

	&.arrow {
		cursor: pointer;
	}

	&.hidden {
		display: none;
	}
}

/* Landing */
.navigation {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	display: flex;
	height: 100%;
}

.navigation__link {
	color: #666;
	border-radius: 100px;
	padding: 64px 48px;
	text-decoration: none;
	font-size: 4em;
	transition: background-color 0.3s;

	&:hover {
		background-color: #eee;
	}
}
