@import "header.css";
@import "kana-display.css";
@import "navigation.css";
@import "option-menu.css";
@import "scoreboard.css";

body {
	margin: 0;
	background-color: #fff;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
}

::selection {
	background-color: #3498db88;
	color: #fff;
}
