body {
	margin: 0;
	background-color: #fff;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
}

::selection {
	background-color: #3498db88;
	color: #fff;
}

/* Header */
.header {
	display: flex;
	position: absolute;
	left: 1%;
	flex-wrap: wrap;
}

.header__item {
	background-color: #349;
	padding: 20px;
	color: #fff;
	font-weight: 800;
	font-size: 1.5em;
	line-height: 20px;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;

	&.main {
		background-color: #c35;
	}
}

/* Counters */
.scoreboard {
	display: flex;
	position: absolute;
	top: 1%;
	right: 1%;
	flex-direction: column;
	text-align: right;
}

.scoreboard__count {
	margin-right: 10%;
	color: #999;
	font-size: 3em;
}

/* Options */
.kana-display {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	user-select: none;
}

.kana-display__character {
	font-weight: 700;
	font-size: min(16em, 48vw);
}

.kana-display__options {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.kana-display__option {
	transition: all 300ms;
	cursor: pointer;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 1.5em;

	&:hover {
		background-color: #3498db;
		color: #fff;
	}

	&.incorrect {
		background-color: #c35;
		color: #fff;
	}
}

/* Option menu */
.option-menu {
	display: flex;
	position: absolute;
	top: 50%;
	right: 0;
	flex-direction: column;
	gap: 10px;
	transform: translateY(-50%);
	background-color: #222;
	padding: 10px;
	color: #ffd43b;

	&.arrow {
		cursor: pointer;
	}

	&.hidden {
		display: none;
	}
}

/* Landing */
.navigation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	height: 100dvh;
}

.navigation__link {
	transition: background-color 300ms;
	border-radius: 100px;
	padding: 64px 48px;
	color: #666;
	font-size: 4em;
	text-decoration: none;

	&:hover {
		background-color: #eee;
	}
}
