body {
  color: #333;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  float: left;
  width: 100%;
  height: calc(100dvh - 120px);
}

a {
  color: #fff;
  text-decoration: none;
}

::selection {
  color: #fff;
  background: #3498db88;
}

/* Header */
header {
  margin: 0 1%;

  & > h1 {
    float: left;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    background: #c35;
    margin: 0;
    padding: 20px;
    font-size: 24px;
    font-weight: 800;
    line-height: 20px;

    &.main {
      background: #349;
    }
  }
}

/* Counters */
.scores {
  text-align: right;
  margin-top: 1%;
  display: grid;
  position: absolute;
  right: 1%;
}

.count {
  color: #999;
  margin-right: 10%;
  font-size: 50px;
}

/* Options */
.kana-container {
  -webkit-user-select: none;
  user-select: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);
  display: flex;
}

#kana-character {
  font-size: 16em;
  font-weight: 700;
}

#options {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

.option {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 20px;
  font-size: 24px;
  transition: all 0.3s;

  &:hover {
    color: #fff;
    background-color: #3498db;
  }

  &.incorrect {
    color: #fff;
    background-color: #c35;
  }
}

/* Checkboxes */
.checkboxes {
  color: #ffd43b;
  background-color: #222;
  gap: 10px;
  padding: 10px;
  display: grid;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  &#arrow {
    cursor: pointer;
  }
}
